<html>
  <body>

    <h2>HTML Forms</h2>
    <form action = "/login" method = "POST">
      <p>Enter username:</p>
      <p><input type = "text" name = "nm" /></p>
      <p>Enter password:</p>
      <p><input type = "password" name = "pas" /></p>
      <p>Sesso:</p>
      <input type="radio" name="sesso" value="maschio">
      <label for="maschio">maschio</label><br>
      <input type="radio" name="sesso" value="femmina">
      <label for="femmina">femmina</label><br>
      <input type="radio" name="sesso" value="tanto">
      <label for="tanto">tanto</label><br>

      <p><input type = "submit" value = "submit" /></p>
   </form> 
    
  </body>
</html>