<html>
  <body>
    <form action = "/login" method = "POST">
      <p>inserisci gradi:</p>
      <p><input type = "text" name = "GR" /></p>
      <input type="radio"name="fav_language" value="F">
      <label for="html">celsius to fahrenheit</label><br>
      <input type="radio"name="fav_language" value="cent">
      <label for="html">fahrenheit to celsius </label><br>
      <input type="radio" name="fav_language" value="K">
      <label for="css">celsius to Kelvin </label><br>
      <input type="radio"name="fav_language" value="c">
      <label for="javascript">Kelvin to celsius</label>
      <p><input type = "submit" value = "submit" /></p>
   </form> 
    
  </body>
</html>